@layout('layouts/main')
@set('title', title)

@section('body')
<p>{{message}}</p>
<form method="post" action="/sample">
  <div class="mb-3">
    <label for="msg" class="form-label">Message</label>
    <input type="text" class="form-control" id="msg" name="msg">
  </div>
  <button type="submit" class="btn btn-secondary">送信</button>
</form>
@end
